<!DOCTYPE html>
<html>

<head>
    <title>Relatórios de {{ nome }}</title>
    <link href="{{ url_for('static', filename='css/relatorios/styles.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="well">
            <h3>Relatórios de {{ nome }}<button type="button" class="btn btn-primary mb-3" data-toggle="modal"
                    data-target="#myModal">
                    <img src="{{ url_for('static', filename='icon/adicionar.svg') }}" alt="Adicionar">
                    Novo Relatorio</button></h3>
        </div>
        <ul class="workspace-list">
            {% for relatorio in relatorios %}
            <li class="workspace-item">
                <div class="workspace-icon">
                    <img src="{{ relatorio[7] }}" alt="Ícone de {{ relatorio[0] }}" class="img-fluid">
                </div>
                <div class="workspace-details">
                    <div class="workspace-name">{{ relatorio[2] }}</div>
                    <div class="workspace-description">{{ relatorio[3] }}</div>
                </div>
                <div class = "workspace-actions">
                    <a href="#" class="btn btn-warning btn-xs"
                        onclick="openEditModal('{{ relatorio[0] }}', '{{ relatorio[2] }}', '{{ relatorio[3] }}', '{{ relatorio[4] }}', '{{ relatorio[5] }}', '{{ relatorio[6] }}')">
                        <img src="{{ url_for('static', filename='icon/editar.svg') }}" alt="Editar">
                    </a>
                    <a href="/delete/{{ relatorio[0] }}" class="btn btn-danger btn-xs"
                        onclick="return confirm('Tem certeza que deseja deletar?')">
                        <img src="{{ url_for('static', filename='icon/delete.svg') }}" alt="Deletar">
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('Index') }}" class="btn btn-primary">Voltar</a>
    </div>

    <!-- Modal para inserção de novos dados -->
<!-- Modal para inserção de novos dados -->
<div id="myModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" onclick="closeAddModal()">
                <span>&times;</span>
            </button>
            <div class="modal-header">
                <h5 class="modal-title">Adicionar Relatório</h5>
            </div>
            <form action="{{ url_for('insert_relatorio') }}" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nome"><strong>Nome:</strong></label>
                        <input type="text" class="form-control" id="nome" name="nome" required>
                    </div>
                    <div class="form-group">
                        <label for="descricao"><strong>Descrição:</strong></label>
                        <input type="text" class="form-control" id="descricao" name="descricao" required>
                    </div>
                    <div class="form-group">
                        <label for="tipo"><strong>Tipo:</strong></label>
                        <select class="form-control" id="tipo" name="tipo" required>
                            <option value="D">D</option>
                            <option value="R">R</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="caminho"><strong>Caminho:</strong></label>
                        <input type="text" class="form-control" id="caminho" name="caminho" required>
                    </div>
                    <div class="form-group">
                        <label for="link"><strong>Link:</strong></label>
                        <input type="text" class="form-control" id="link" name="link" required>
                    </div>
                    <div class="form-group">
                        <label for="imagem"><strong>Imagem:</strong></label>
                        <input type="text" class="form-control" id="imagem" name="imagem" required>
                    </div>
                    <div class="form-group">
                        <label for="sequencia"><strong>Sequência:</strong></label>
                        <input type="text" class="form-control" id="sequencia" name="sequencia" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Enviar</button>
                    <button type="button" class="btn btn-secondary" onclick="closeAddModal()">Fechar</button>
                </div>
            </form>
        </div>
    </div>
</div>



    <!-- Modal para editar -->
    <div id="editModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" onclick="closeEditModal()">
                    <span>&times;</span>
                </button>
                <div class="modal-header">
                    <h5 class="modal-title">Editar Relatorio</h5>
                </div>
                <form id="editForm" action="{{ url_for('editar_relatorio') }}" method="POST">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="editID"><strong>ID Relatorio:</strong></label>
                            <input type="hidden" id="editID" name="{{ID_WORKSPACE}}">
                            <p id="editIDDisplay"></p>
                        </div>
                        <div class="form-group">
                            <label for="editNome"><strong>Name:</strong></label>
                            <input type="text" class="form-control" id="editNome" name="nome">
                        </div>
                        <div class="form-group">
                            <label for="editDescricao"><strong>Descrição:</strong></label>
                            <input type="text" class="form-control" id="editDescricao" name="descricao">
                        </div>
                        <div class="form-group">
                            <label for="tipo"><strong>Tipo:</strong></label>
                            <select class="form-control" id="editTipo" name="tipo" required>
                                <option value="D">D</option>
                                <option value="R">R</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="caminho"><strong>Caminho:</strong></label>
                            <input type="text" class="form-control" id="editCaminho" name="caminho" required>
                        </div>
                        <div class="form-group">
                            <label for="link"><strong>Link:</strong></label>
                            <input type="link" class="form-control" id="editLink" name="link" required>
                        </div>
                        <div class="form-group">
                            <label for="editImagem"><strong>Imagem:</strong></label>
                            <input type="text" class="form-control" id="editImagem" name="imagem">
                        </div>
                        <div class="form-group">
                            <label for="editSequencia"><strong>Sequência:</strong></label>
                            <input type="number" class="form-control" id="editSequencia" name="sequencia">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Salvar</button>
                        <button type="button" class="btn btn-secondary" onclick="closeEditModal()">Fechar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-2IMjvRW4pH1T89jO+V3osvC5fS3IFlk/M0PLB7quNuzXtpJA5zLw1rIyomG6FsPm" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
    <script src="{{ url_for('static', filename='js/relatorios/script.js') }}"></script>

</body>

</html>